<div style="width: 700px; text-align: center;">
    <div class="col-lg-7 mx-auto">
        <div class="bg-white rounded-lg shadow-sm p-5">
            <h4 class="modal-title">{{word | titlecase }}</h4>
            <!-- <h4 class="modal-title">{{word | uppercase }}</h4> -->
            <br />
            <!-- <br/> -->
            <p (click)="showPro()" class="alert alert-success pointer">{{pro}}</p>
            <p (click)="showMean()" class="alert alert-success pointer">{{mean}}</p>
            <button (click)="getVocab('1')" class="btn btn-primary btn-block rounded-pill subscribe shadow-sm">Next</button>
        </div>
    </div>
</div>